@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-screen {
    height: 90vh;
    @apply flex w-full items-center justify-center;
}

.error-form-element {
    border: 2px solid red !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fff7f5 inset !important;
}

.line-clamp-1 img,
.line-clamp-4 img {
    display: none !important;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
