@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-screen {
    height: 90vh;
    @apply flex w-full items-center justify-center;
}

.error-form-element {
    border: 2px solid red !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fff7f5 inset !important;
}

.line-clamp-1 img,
.line-clamp-4 img {
    display: none !important;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Content > * > * {
    display: flex;
}

/* FOR QUESTION LIST */
@media (min-width: 1360px) {
    .question-list-search-input {
        @apply w-96;
    }
}

@media (min-width: 1220px) {
    .question-list-header {
        @apply flex h-16 justify-between;
    }
}

@media (min-width: 1290px) and (max-width: 1360px) {
    .question-list-search-input {
        @apply flex w-80;
    }
}

@media (min-width: 1260px) and (max-width: 1290px) {
    .question-list-search-input {
        @apply w-72;
    }
}

@media (min-width: 1220px) and (max-width: 1260px) {
    .question-list-search-input {
        @apply w-64;
    }
}

@media (min-width: 800px) and (max-width: 1220px) {
    .question-list-filters {
        @apply mt-4 w-full;
    }
    .question-list-header {
        @apply h-24;
    }
}
