.login-card {
    background-image: linear-gradient(rgba(223, 223, 223, 0.8), rgba(223, 223, 223, 0.8)), url('/images/sun_logo.png');
    background-repeat: no-repeat;  
    background-position: right;    
    width: 54rem;
    height: 32rem;
    @apply shadow-lg;
}

.login-welcome {
    @apply text-4xl mb-4 font-bold ;
}

.login-overflow-logo {
    @apply mx-auto pt-16;
}

.login-google {
    @apply flex justify-center mt-16;
}

.login-btn {
    width: 33rem;
    @apply flex justify-center text-xl;
}
